* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Noto Serif', serif;
}


/*---------Header-------------*/

header {
    background-color: #1b3358;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 10px;
    padding: 15px 10px;
}

nav a {
    font-size: 1.2rem;
    margin: 20px;
    color: white;
}

nav a:hover {
    border: 2px solid lightblue;
    padding: 10px;
    font-weight: bolder;
    color: lightblue;
}

/*---------------Main-----------------*/

#home {
    text-transform: uppercase;
}

.hello-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
}

.hello {
    color: black;
}

.icon {
    color: black;
}

.name {
    color: #33658A;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 3.7rem;
}

.position {
    color: #296EB4;
}

.more-btn {
    display: block;
    width: 276px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid;
    padding: 20px;
    color: #4A6D7C;
}

/*--------Icons home--------------*/

.socials {
    margin-top: 50px;
}

.icon--home {
    padding: 50px;
    color: #6689A1;
}

/*------------About me----------------*/

#about {
    margin-top: 250px;
    text-align: center;
}

.about {
    margin-right: 115px;
}

.hoi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-title {
    color: #33658A;
    text-transform: uppercase;
}

.big-title {
    font-size: 1.7rem;
}

.about-me {
    color: #4A6D7C;
    text-align: center;
    white-space: pre-line;
    padding: 50px;
    font-size: 1.2rem;
}

.pfp {
    border-radius: 50%;
    width: 110px;
    height: 100px;
}

/*------------profile and skills----------------*/

.profile_skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-list {
    line-height: 3rem;
    margin-bottom: 3rem;
    list-style: none;
    text-align: left;
    margin-left: 400px;
}

































































/*---------Media----------*/

@media screen and (max-width: 714px) {

    /*---------Header-------------*/

    nav a {
        display: none;
    }

    nav a.icon {
        float: right;
        display: block;
        color: black;
    }

    nav.responsive {
        position: relative;
    }

    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 715px) {

    /*---------Header-------------*/

    nav a.icon {
        display: none;
    }
}